.gpt3__whatgpt3 {
  background: transparent;
  ;
}

#teste {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
  flex-direction: row;
}